.otp_con{
    background-image: url(https://app-staging.youshd.com/static/media/background-image.f4123398e5165ddecdbf.png);
    width: 32%;
    margin: auto;
    border-radius: 10px;

}
.otp_box{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-around;

}
.otp_box>input{
    width: 14%;
    height: 35px;
    border: 0.8px solid gray;
    border-radius: 18px;
    font-size: 15px;
    text-align: center;
}
.optBtn{
    margin-top: 100px;
}